@import "bootstrap/base";
//@import "bootstrap/responsive";
@import "modules/fonts";



body, input {
  font-family: DroidSansRegular;

}

h1 {
  font-family: DroidSansBold;
  font-size: 4em;
  color: #bbb;
}

h2 {
  font-size: 2em;
  color: #222;
}

input { margin-bottom: 0; }



.container-fluid {

}





header, footer {
  margin: 40px 0;
}

.icon-twitter {
  float: left;
  height: 5em;
  line-height: 6em;
  width: auto;
  margin-right: 1em;
  cursor: pointer;
}

#twitterlogin {
  font-size: 2rem;
  height: 2em;
  line-height: 2em;
  padding: .2em 1em .1em 85px;
  margin-right: .5em;
  background: transparent image-url('t.png') .15em .2em no-repeat;
  background-size: 60px 60px;
  width: 10em;
}

#twittersubmit {
  font-size: 2rem;
  height: 2.2em;
  line-height: 1;
  padding: .5em 1em;
  width: 5em;
}


@media all and (max-width: 670px) {
  #twittersubmit {
    margin-top: .1em;
    width: 13.7em;
  }
}