@import "bootstrap/base";
//@import "bootstrap/responsive";
@import "modules/fonts";



body {
  font-family: DroidSansRegular;

}

h1 {
  font-family: DroidSansBold;
  font-size: 4em;
}

input { margin-bottom: 0; }



.container-fluid {

}





header, footer {
  margin: 40px 0;
}






.icon-twitter {
  float: left;
  height: 5em;
  line-height: 6em;
  width: auto;
  margin-right: 1em;
  cursor: pointer;
}

#twitterlogin {
  font-size: 2rem;
  height: 1.2em;
  line-height: 1.5;
  padding: .5em 1em .5em 85px;
  margin-right: .5em;
  background: transparent image-url('t.png') 10px 5px no-repeat;
  background-size: 60px 60px;
  width: 50%;
  max-width: 300px
}

#twittersubmit {
  font-size: 2rem;
  height: 2.2em;
  line-height: 1;
  padding: .5em 1em;
  width: 25%;
  max-width: 140px;
}

@media all and (max-width: 700px) {
  #twitterlogin {
    width: 100%;
    max-width: (100%-2.5em);
    min-width: 50%;
  }
  #twittersubmit {
    width: 100%;
    min-width: 50%;
    max-width: 100%;
  }
}


