@import "bootstrap/base";
@import "modules/fonts";



body, input, p, span, div {
  font-family: DroidSansRegular;

}

h1 {
  font-family: DroidSansBold;
  font-size: 4em;
  color: #bbb;
}

h2 {
  font-size: 2em;
  color: #222;
}

input { margin-bottom: 0; }

.container-fluid {

}

header, footer {
  margin: 40px 0;
}

.icon-twitter {
  float: left;
  height: 5em;
  line-height: 6em;
  width: auto;
  margin-right: 1em;
  cursor: pointer;
}

#twitterlogin {
  font-size: 2rem;
  height: 2em;
  line-height: 2em;
  padding: .2em 1em .1em 85px;
  margin-right: .5em;
  background: transparent image-url('t.png') .15em .2em no-repeat;
  background-size: 60px 60px;
  width: 10em;
}

#twittersubmit {
  font-size: 2rem;
  height: 2.2em;
  line-height: 1;
  padding: .5em 1em;
  width: 5em;
}


@media all and (max-width: 670px) {
  #twittersubmit {
    margin-top: .1em;
    width: 13.7em;
  }
}

#places {
  margin-left: 1.5em;


  h2 {
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #aaa;
  }

  #end_choosing_places {
    float: right;
    font-size: 1rem;
  }

  ol li {
    list-style: decimal inside none;
    font-size: 1.4rem;
    line-height: 2em;
    padding: .5em;
    
    &:nth-child(even) { background-color: #eee; }
    img {
      width: 48px;
      height: 48px;
      float: right;

    }
  }

  .form_container {
    background-color: #019AD2;
    padding-left: 1em;

    input {
      padding: .4em .4em;
      margin: .5em 0;
      font-size: 1.2rem;
      line-height: 1.3rem;
      width: 95%;
    }
  }
}