.row
  .well#places

    %h2 Places

    %ol.nav.nav-tabs.nav-stacked
      %li Place 1
      %li
        %form
          %input#add_place{:placeholder => 'Add new place', :type => 'text', :name => 'place_name'}
